{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Process Delete Confirmation" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="process">

	{% include "producer/producer_tabnav.html" %}

	<h3>{% trans "Are you sure you want to delete this process?" %}</h3>

    <table style="margin-bottom: 1em;" >
        <tr>
            <th style="text-align: right; " >{% trans "Process Number" %}: </th>
            <td>{{process.id}}</td>
        </tr>
        <tr>
            <th style="text-align: right; " >{% trans "Process Type" %}: </th>
            <td>{{process.process_type}}</td>
        </tr>
        <tr>
            <th style="text-align: right; " >{% trans "Date" %}: </th>
            <td>{{process.process_date}}</td>
    </table>

	<h3>{% trans "The following objects will be also deleted" %}:</h3>

	<ul>
		{% if inputs_with_lot %}
			<li><b>{% trans "Input transactions with Lots" %}:</b></li>
			<ul>
			{% for tx in inputs_with_lot %}
		        <li>{% trans "Transaction" %}: {{ tx }}</li>
		        <li>{% trans "Lot" %}: {{ tx.inventory_item }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if inputs %}
			<li><b>{% trans "Input transactions" %}:</b></li>
			<ul>
			{% for tx in inputs %}
		        <li>{% trans "Transaction" %}: {{ tx }}</li>
			{% endfor %}
			</ul>
		{% endif %}



		{% if process.services %}
			<li><b>{% trans "Processing Services" %}:</b></li>
			<ul>
		    {% for tx in process.services %}
				<li>{{ tx }}</li>
		    {% endfor %}
			</ul>
		{% endif %}

		{% if outputs_with_lot %}
			<li><b>{% trans "Output transactions with Lots" %}:</b></li>
			<ul>
		    {% for tx in outputs_with_lot %}
		        <li>{% trans "Transaction" %}: {{ tx }}</li>
		        <li>{% trans "Lot" %}: {{ tx.inventory_item }}</li>
		    {% endfor %}
			</ul>
		{% endif %}
		{% if outputs %}
			<li><b>{% trans "Output transactions" %}:</b></li>
			<ul>
		    {% for tx in outputs %}
		        <li>{% trans "Transaction" %}: {{ tx }}</li>
		    {% endfor %}
			</ul>
		{% endif %}

	</ul>
	
	<div>
	<form style="display: inline;" action="{% url producer_delete_process process_id=process.id %}" method="POST">
		{% csrf_token %}
    		<input type="submit" value="{% trans 'Delete' %}" />
	</form>
	<form style="display: inline;" action="{% url producer_process_selection %}" method="GET">
    		<input type="submit" value="{% trans 'Cancel' %}" />
    	</form>

	</div>

</div>

{% endblock %}

