{% extends "base.html" %}

{% block title %}
     {{ food_network }} Producer Dashboard
{% endblock %}

{% block extra_head %}
{{ block.super }}

{% include "dojo_include.html" %}


    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="producer-dashboard">

	{% include "producer/producer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >{{ food_network.long_name }} Producer Dashboard for {{ producer.long_name }}</h3>

	<p>This will become a producer and processor dashboard page.  What do you want to see here?</p>

</div>
{% endblock %}

