{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Availbility Email Preparation" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}

  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"
          baseUrl='./'
          djConfig="parseOnLoad:true">
  </script>
{% endblock %}
		
{% block header %}
<script type="text/javascript">
dojo.require("dojo.parser");
</script>

<script type="text/javascript">

		function cleanNumericInput(value)
		{
			var cleanNumber = value.replace( /[^\-.0-9]/g, '');
			var firstPos = cleanNumber.indexOf(".");
			var lastPos = cleanNumber.lastIndexOf(".");
			while(firstPos!=lastPos)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				firstPos = cleanNumber.indexOf(".");
				lastPos = cleanNumber.lastIndexOf(".");
			}
			var lastPos = cleanNumber.lastIndexOf("-");
			while(lastPos>0)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				lastPos = cleanNumber.lastIndexOf("-");
			}
			return cleanNumber;
		}

		function validateNumber(evt, functionToCall)
		{
			var isValid = true;
			var candidate = evt.target.value;
			var strippedNumber = cleanNumericInput(candidate);
			strippedNumber = strippedNumber || 0;
			if(isNaN(candidate))
			{
				evt.target.style.color = "red";
				evt.target.value = "Not number";
				isValid = false;
				var anim1 = dojo.animateProperty({
						node: evt.target, delay: 1000,
						properties:{
							opacity: { end: 0 }
						}
					}); 
				var anim2 = dojo.animateProperty
				({
						node: evt.target, delay: 1000,
						properties:
						{
							opacity: { end: 1 }, color: { end: 'black'}
						},
						onEnd: function()
						{
							evt.target.value = strippedNumber;
							//functionToCall(evt);
    					}
				}); 
				anim1.play();
				anim2.play();
			}
			else
			{
				evt.target.value = strippedNumber;
				//functionToCall(evt);
			}
			return isValid;
		}

		dojo.addOnLoad(function()
		{
			var queryNodes = dojo.query(".quantity-field");
			for(var i=0;i<queryNodes.length;i++)
			{
				var node = queryNodes[i]
				dojo.connect(node, "onblur", "validateNumber");
			}
		});


</script>

{% endblock %}

{% block content %}

<div class="emails" style="font-size:80%;" >

	{% include "distribution/tabnav.html" %}

<div style="float: left; width: 40%; padding-left: 1em;"> 

	<h3>Selected Customers</h3>
	{% for cycle in cycles %}
	<h4>{{ cycle }} Delivery date: {{ cycle.next_delivery_date_using_closing }}</h4>
	<ul>
		{% for customer in cycle.customers.all %}
		<li>
			{{ customer }} - 
			{% if customer.email %}
				{{ customer.email }}
			{% else %}
				<span style="color:red;">No email address</span>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endfor %}

</div>

<form action="." method="POST" >{% csrf_token %}

<div style="float: left; width: 40%; padding-left: 1em;">

	<h3>Email message introduction</h3>


	{{ intro_form.message }}

	{% if not item_forms %}
		<p>
			<input type="submit" value="{% trans 'Save and Send' %}" />
		</p>
	{% endif %}

</div>

<div style="clear:both;" ></div>

<div>
	{% if item_forms %}

	<p>
		<input type="submit" value="{% trans 'Save and Send' %}" />
	</p>


	<h3>Available Items as of {{ avail_date }}</h3>
	<div style="float: left;">
	<p>
	Customers see the sum of item quantities where inventory date is on or before delivery date
	</br>and expiration date is after delivery date, reduced by the quantity already ordered.
	</br>The quantity ordered is by product, and will only be shown once.
	</p>

	<table class="ga-event-table" >
	    <tr>
		<th>{% trans "Product" %}</th>
		<th>{% trans "Producer" %}</th>
		<th>{% trans "Ordered" %}</th>
		<th>{% trans "Quantity" %}</th>
		<th>{% trans "Inventory Date" %}</th>
		<th>{% trans "Expiration Date" %}</th>
            </tr>
            {% for item_form in item_forms %}
	    	<tr>
		    	<td class="read-only-td" > {{ item_form.description }} </td>
			<td class="read-only-td" > {{ item_form.producer }} </td>
			<td class="read-only-td" style="text-align:right;" >
				{% ifchanged item_form.ordered %} {{ item_form.ordered }} {% endifchanged %} 
			</td>
			<td> {{ item_form.quantity }} </td>
			<td> {{ item_form.inventory_date }} </td>
			<td> {{ item_form.expiration_date }} </td>
			{{ item_form.item_id }}
                </tr>
           {% endfor %} 
	</table>
	</div>
	<div class="ga-event-table" style="float: left; margin-left: 1em; padding-top: 5em; border: none;">
		<h3>What customers will see</h3>
		<table>
			<tr>
				<th>{% trans "Product" %}</th>
				<th>{% trans "Available" %}</th>
				<th>{% trans "Price" %}</th>
			</tr>
			{% for product in products %}
			<tr>
				<td>{{ product.product }}</td>
				<td style="text-align: right;" >{{ product.qty }}</td>
				<td style="text-align: right;" >{{ product.price }}</td>
			</tr>
			{% endfor %}
		</table>

	</div>
	<div style="clear: both;"></div>

	<p>
		<input type="submit" value="{% trans 'Save and Send' %}" />
	</p>


	{% else %}
		{% if plans %}
			<h4 style="margin-bottom: 0;" >Production plans:</h4>
			<table class="ga-event-table">
				<tr>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Method" %}</th>
					<th>{% trans "Producer" %}</th>
					<th>{% trans "Qty" %}</th>
				</tr>
				{% for plan in plans %}
				<tr>
					<td>{{ plan.category }}</td>
					<td>{{ plan.product.long_name }}</td>
					<td>{{ plan.product.growing_method }}</td>
					<td>{{ plan.member }}</td>
					<td style="text-align: right;">{{ plan.quantity }}</td>
				</tr>
				{% endfor %}

			</table>

		{% else %}
		<p>No available items</p>
		{% endif %}
	{% endif %}

</div>

</form>


</div>

{% endblock %}

