{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Availability" %}
{% endblock %}

{% block header %}
    <h1>{% trans "Availability" %}</h1>
{% endblock %}

{% block content %}
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Date" %}</th>
             <th>{% trans "Producer" %}</th>
             <th>{% trans "Product" %}</th>
             <th>{% trans "Quantity" %}</th>
        </tr>
        {% for avail in object_list %}
            <tr>
                <td>{{avail.avail_date}}</td>
                <td>{{ avail.producer }}</td>
                <td>{{avail.product}}</td>
                <td style="text-align: right; ">{{avail.quantity}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
