{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Customer Payment Update" %}
{% endblock %}

{% block header %}

    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"></script>
    <script type="text/javascript" >

		function cleanNumericInput(value)
		{
			var cleanNumber = value.replace( /[^\-.0-9]/g, '');
			var firstPos = cleanNumber.indexOf(".");
			var lastPos = cleanNumber.lastIndexOf(".");
			while(firstPos!=lastPos)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				firstPos = cleanNumber.indexOf(".");
				lastPos = cleanNumber.lastIndexOf(".");
			}
			var lastPos = cleanNumber.lastIndexOf("-");
			while(lastPos>0)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				lastPos = cleanNumber.lastIndexOf("-");
			}
			return cleanNumber;
		}

		function validateNumber(evt, functionToCall)
		{
			var isValid = true;
			var candidate = evt.target.value;
			var strippedNumber = cleanNumericInput(candidate);
			strippedNumber = strippedNumber || 0;
			if(isNaN(candidate))
			{
				evt.target.style.color = "red";
				evt.target.value = "Not number";
				isValid = false;
				var anim1 = dojo.animateProperty({
						node: evt.target, delay: 1000,
						properties:{
							opacity: { end: 0 }
						}
					}); 
				var anim2 = dojo.animateProperty
				({
						node: evt.target, delay: 1000,
						properties:
						{
							opacity: { end: 1 }, color: { end: 'black'}
						},
						onEnd: function()
						{
							evt.target.value = strippedNumber;
							if(functionToCall)
							{
								functionToCall(evt);
							}
    					}
				}); 
				anim1.play();
				anim2.play();
			}
			else
			{
				evt.target.value = strippedNumber;
				if(functionToCall)
				{
					functionToCall(evt);
				}
			}
			return isValid;
		}


		function finishQuantityChange(evt)
		{
			var row = evt.target.id.split('-')[0];
			extendPriceForRow(row);
			changeTotalOrdered(row);
		}


		var orderedTotals = {};
		var thisOrderQty = {};

		function changeTotalOrdered(row)
		{
			var totOrd = parseFloat(orderedTotals[row + '-ordered']);
			var qtyFieldName = row + '-quantity';
			var qty = parseFloat(dojo.byId(qtyFieldName).value);
			var prevQty = parseFloat(thisOrderQty[qtyFieldName]);
			var qtyDelta = qty - prevQty;
			var newTotal = totOrd + qtyDelta;
			var totOrdField = dojo.byId(row + '-ordered').value = newTotal;
			thisOrderQty[qtyFieldName] = qty;
			orderedTotals[row + '-ordered'] = newTotal;
		}

		function quantityChanged(evt)
		{
			validateNumber(evt, finishQuantityChange);

		}

		function priceChanged(evt)
		{
			validateNumber(evt, extendPriceForEvt);
		}

		function feeChanged(evt)
		{
			validateNumber(evt);
		}

		function totalPayment()
		{
			var queryNodes = dojo.query(".paid");
			var totalAmount = 0;
			for(var i=0;i<queryNodes.length;i++)
			{
				var node = queryNodes[i]
				if(node.checked)
				{
					var row = node.id.split('-')[0];
					var due = parseFloat(dojo.byId(row + '-amount_due').value);
					totalAmount += due;
				}
			}
			dojo.byId('id_amount').value = totalAmount.toFixed(2);
		}

		function paidChanged(evt)
		{
			totalPayment();
		}

		dojo.addOnLoad(function()
		{
			totalPayment();

			var queryNodes = dojo.query(".paid");
			for(var i=0;i<queryNodes.length;i++)
			{
				var node = queryNodes[i]
				dojo.connect(node, "onchange", "paidChanged");
			}

		});

    </script>

{% endblock %}

{% block content %}

<div class="payment-update">

	{% include "distribution/tabnav.html" %}

    <form action="." method="POST" >
        <table>
            {% if payment %}
		        <tr>
		            <th style="text-align: right; " >{% trans "Payment Number" %}:</th>
		            <td>{{ payment.id }}</td>
		        </tr>
            {% endif %}
            <tr>
                <th style="text-align: right; " >{% trans "Customer" %}:</th>
                <td>{{ customer }}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Date" %}:</th>
                <td>{{ payment_form.transaction_date }}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Amount" %}:</th>
                <td>{{ payment_form.amount }}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Reference" %}:</th>
               <td>{{ payment_form.reference }}</td>
            </tr>
        </table>
		<h4>
			{% trans "Orders" %}: 
		</h4>

        <table class="ga-event-table" >
			<tr>
             	<th>{% trans "Order" %}</th>
    	        <th>{% trans "Delivery Date" %}</th>
    	        <th>{% trans "Due" %}</th>
                <th>{% trans "Paid" %}</th>
            </tr>
            {% for item_form in item_forms %}
                 <tr>
                    <td class="read-only-td" > #{{ item_form.order.id }} </td>
                    <td class="read-only-td" > {{ item_form.delivery_date }} </td>
                    <td class="read-only-td" > {{ item_form.amount_due }} </td>
                    <td> {{ item_form.paid }} </td>
			{{ item_form.order_id}}
                </tr>
            {% endfor %}
    </table>
        <p>
            <input type="submit" value="{% trans 'Submit Payment' %}" />
        </p>

    </form>
</div>
{% endblock %}

