{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {{ food_network_name }} {% trans "Distribution System" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}

{% include "dojo_include.html" %}

    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}
{% comment %}

{% block header %}
<script type="text/javascript" >
	dojo.addOnLoad(function()
	{
		dojo.byId("id_next_delivery_date").focus();
	});

</script>

{% endblock %}
{% endcomment %}

{% block content %}

<div class="dashboard">

	{% include "distribution/tabnav.html" %}

	<div  style="margin-left: 1em;" >

	{% if food_network_name %}

	<h2><strong>{{ food_network_name }} {% trans "Distribution System" %}</strong></h2>


		<h4 style="margin-bottom: 4px;" >
			Next Delivery Date: 
			{% if user.is_authenticated %}
				<form style="display: inline;" action="{% url reset_date %}" method="POST">{% csrf_token %}
					{{ date_form.next_delivery_date }}
					<input class="submit-btn" type="submit" value="{% trans 'Reset' %}" />
				</form>
			{% else %}
				{{ delivery_date }}
			{% endif %}
		</h4>

		{% if order_changes %}
		<div style="float:left; padding: 1em;">
			<h4 style="margin-bottom: 0;" >Customer Order Changes:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Customer" %}</th>
					<th>{% trans "Order" %}</th>
					<th>{% trans "Changes" %}</th>
				</tr>
				{% for oic in order_changes %}
				<tr>
					<td>
						{% ifchanged oic.customer %}
						{{ oic.customer }}
						{% else %}&nbsp;
						{% endifchanged %}						
					</td>
					<td>
						{% ifchanged oic.order.id %}
						{{ oic.order.id }}
						{% else %}&nbsp;
						{% endifchanged %}
					</td>
					<td>
						{% if oic.action == 1 %}
							Added {{ oic.product }} qty {{ oic.new_qty }}
							{% if oic.new_notes %}
							<br/>{{ oic.new_notes }}
							{% endif %}
						{% endif %}
						{% if oic.action == 2 %}
							{% if oic.prev_qty != oic.new_qty %}
								{{ oic.product }} qty changed from: {{ oic.prev_qty }} to: {{ oic.new_qty }}
								{% if oic.prev_notes != oic.new_notes %}
									{% if oic.prev_notes %}
									<br/>notes changed from: {{ oic.prev_notes }} to: {{ oic.new_notes }}
									{% else %}
									<br/>{{ oic.new_notes }}
									{% endif %}
								{% endif %}
							{% else %}
								{% if oic.prev_notes != oic.new_notes %}
									{% if oic.prev_notes %}
									{{ oic.product }} notes changed from: {{ oic.prev_notes }} to: {{ oic.new_notes }}
									{% else %}
									{{ oic.product }} notes: {{ oic.new_notes }}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
						{% if oic.action == 3 %}
							Deleted {{ oic.product }} qty {{ oic.prev_qty }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}



		{% if shorts %}
		<div style="float:left; padding: 1em;">
			<h4 style="margin-bottom: 0;" >{{ shorts_label }}:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Available" %}</th>
					<th>{% trans "Ordered" %}</th>
					<th>{% trans "Short" %}</th>
					<th>{% trans "Orders" %}</th>
				</tr>
				{% for short in shorts %}
				<tr>
					<td>{{ short.product }}</td>
					<td style="text-align: right;">{{ short.total_avail }}</td>
					<td style="text-align: right;">{{ short.total_ordered }}</td>
					<td style="text-align: right;">{{ short.quantity_short }}</td>
					<td>
						{% for oi in short.order_items %}
						{{ oi.order.delivery_date|date:"n-d" }} {{ oi.order.customer }} {{ oi.quantity }}</br>
						{% endfor %}
					</td>
				</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}

		{% if orders %}
		<div style="float:left; padding: 1em;">
			<h4 style="margin-bottom: 0;" >Orders:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Customer" %}</th>
					<th>{% trans "Delivery Date" %}</th>
					<th>{% trans "Items" %}</th>
					<th>{% trans "Total" %}</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td>{{ order.customer }}</td>
					<td>{{ order.delivery_date|date:"n-d" }}</td>
					<td>
						{% for oi in order.orderitem_set.all %}
						{{ oi.product }} {{ oi.quantity }}</br>
						{% endfor %}
					</td>
					<td style="text-align: right;" >${{ order.grand_total }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}
		{% comment %}
		{% if shorts %}
			{% if orders %}
			<div style="clear:both;"></div>
			{% endif %}
		{% endif %}
		{% endcomment %}

		{% if items %}
		<div style="float:left; padding: 1em;">
			<h4 style="margin-bottom: 0;" >Inventory:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Method" %}</th>
					<th>{% trans "Producer" %}</th>
					<th>{% trans "Avail" %}</th>
				</tr>
				{% for item in items %}
				<tr>
					<td>{{ item.category }}</td>
					<td>{{ item.product.long_name }}</td>
					<td>{{ item.product.growing_method }}</td>
					<td>{{ item.producer }}</td>
					<td style="text-align: right;">{{ item.avail_qty }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}

		{% if plans %}
		<div style="float:left; padding: 1em;">
			<h4 style="margin-bottom: 0;" >Production plans:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Method" %}</th>
					<th>{% trans "Producer" %}</th>
					<th>{% trans "Qty" %}</th>
				</tr>
				{% for plan in plans %}
				<tr>
					<td>{{ plan.category }}</td>
					<td>{{ plan.product.long_name }}</td>
					<td>{{ plan.product.growing_method }}</td>
					<td>{{ plan.member }}</td>
					<td style="text-align: right;">{{ plan.quantity }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}

	{% else %}

		<h3>{% trans "You must create a Food Network in Admin to proceed" %}</h3>
	
	{% endif %}
	</div>
	<div style="clear:both;"></div>

</div>
{% endblock %} 

