{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {{ food_network_name }} {% trans "Distribution System" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

<script type="text/javascript" >
	dojo.addOnLoad(function()
	{
		dojo.byId("id_current_week").focus();
	});

</script>

{% endblock %}

{% block content %}

<div class="dashboard">

	{% include "distribution/tabnav.html" %}

	<div  style="margin-left: 1em;" .

	{% if food_network_name %}

	<h2><strong>{{ food_network_name }} {% trans "Distribution System" %}</strong></h2>

		
		{% if user.is_authenticated %}
			<div style="margin-bottom: 1em; " >
				<form style="display: inline; " action="{% url send_fresh_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Availability Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				{% comment %}
				<form style="display: inline; " action="{% url send_pickup_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Pickup List Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				<form style="display: inline; " action="{% url send_delivery_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Delivery List Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				<form style="display: inline; " action="{% url send_order_notices %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Order Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				{% endcomment %}
			</div>
		{% endif %}

		<h4 style="margin-bottom: 4px;" >
			Week of 
			{% if user.is_authenticated %}
				<form style="display: inline;" action="{% url reset_week %}" method="POST">{% csrf_token %}
					{{ week_form.current_week }}
					<input class="submit-btn" type="submit" value="{% trans 'Reset' %}" />
				</form>
			{% else %}
				{{ order_date }}
			{% endif %}
		</h4>
		{% if plans %}
		<div style="float:left;">
			<h4 style="margin-bottom: 0;" >Plans:</h4>
			<table class="ga-event-table" style="font-size: 80%; margin-top: 0;" >
				<tr>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Method" %}</th>
					<th>{% trans "Producer" %}</th>
					<th>{% trans "Qty" %}</th>
				</tr>
				{% for plan in plans %}
				<tr>
					<td>{{ plan.category }}</td>
					<td>{{ plan.product.long_name }}</td>
					<td>{{ plan.product.growing_method }}</td>
					<td>{{ plan.member }}</td>
					<td style="text-align: right;">{{ plan.quantity }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}

	{% else %}

		<h3>{% trans "You must create a Food Network in Admin to proceed" %}</h3>
	
	{% endif %}
	</div>
	<div style="clear:both;"></div>

</div>
{% endblock %} 

