{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {{ food_network_name }} {% trans "Distribution System" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

<script type="text/javascript" >
	dojo.addOnLoad(function()
	{
		dojo.byId("id_current_week").focus();
	});

</script>

{% endblock %}

{% block content %}

<div class="dashboard">

	{% include "distribution/tabnav.html" %}

	<div  style="margin-left: 1em;" .

	{% if food_network_name %}

		<h2>{{ food_network_name }} {% trans "Distribution System" %}</h2>


		{% if user.is_authenticated %}
			<div style="margin-bottom: 1em; " >
				<form style="display: inline; " action="{% url send_fresh_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Fresh List Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				<form style="display: inline; " action="{% url send_pickup_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Pickup List Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				<form style="display: inline; " action="{% url send_delivery_list %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Delivery List Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
				<form style="display: inline; " action="{% url send_order_notices %}" method="POST">{% csrf_token %}
					<input class="submit-btn" type="submit" value="{% trans 'Send Order Emails' %}" />
					<input type="hidden" name="next" value="{% url dashboard %}" />
				</form>
			</div>
		{% endif %}

		<h4 style="margin-bottom: 4px;" >
			Activity for week of 
			{% if user.is_authenticated %}
				<form style="display: inline;" action="{% url reset_week %}" method="POST">{% csrf_token %}
					{{ week_form.current_week }}
					<input class="submit-btn" type="submit" value="{% trans 'Reset' %}" />
				</form>
			{% else %}
				{{ order_date }}
			{% endif %}
		</h4>

		<table class="ga-event-table" >
			{% if by_lot %}
				<tr>
				        <th>{% trans "Custodian" %}</th>
				        <th>{% trans "Lot" %}</th>		
			        	<th>{% trans "Avail" %}</th>
				        <th>{% trans "Processed" %}</th>
			        	<th>{% trans "Ordered" %}</th>
					<!--<th>Delivered</th>-->
						<th>{% trans "Buyers" %}</th>
				    </tr>
				    {% for item in item_list %}
			        	<tr>
						{% if item.custodian %}
							<td>{{ item.custodian }}</td>
						{% else %}
							<td>&nbsp;</td>
						{% endif %}
						<td>{{ item.lot_id }}</td>
						<td>{{ item.avail_qty }}</td>
						<td>{{ item.issued_qty }}</td>
						<td>{{ item.ordered_qty }}</td>
						<!--<td>{{ item.delivered_qty }}</td>-->
						<td>{{ item.customers }}</td>
				        </tr>
				{% endfor %}
			{% else %}
				<tr>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Product" %}</th>
					<th>{% trans "Growing Method" %}</th>
					<th>{% trans "Producers" %}</th>
					<th>{% trans "Avail" %}</th>
					<th>{% trans "Ordered" %}</th>
					<th>{% trans "Delivered" %}</th>
				</tr>
				{% for cells in item_list %}
					<tr>
						{% for cell in cells %}
							{% if forloop.counter > 4 %}
								<td style="text-align: right;" >{{ cell }}</td>
							{% else %}
								<td>{{ cell }}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			{% endif %}

		</table>

	{% else %}

		<h3>{% trans "You must create a Food Network in Admin to proceed" %}</h3>
	
	{% endif %}
	</div>

</div>
{% endblock %} 

