{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Deliveries" %}
{% endblock %}

{% block header %}
    <h1>{% trans "Deliveries" %}</h1>
{% endblock %}

{% block content %}
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Week" %}</th>
             <th>{% trans "Customer" %}</th>
             <th>{% trans "Product" %}</th>
             <th>{% trans "Producer" %}</th>
             <th>{% trans "Quantity" %}</th>
        </tr>
        {% for delivery in object_list %}
            <tr>
                <td>{{ delivery.orderitem.order.week }}</td>
                <td>{{ delivery.orderitem.order.customer }}</td>
                <td>{{ delivery.orderitem.product }}</td>
                <td>{{ delivery.producer }}</td>
                <td style="text-align: right; ">{{ delivery.quantity }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %} 
