{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Inventory Update" %}
{% endblock %}

{% block header %}

{% include "dojo_include.html" %}

    <script type="text/javascript" >

		function cleanNumericInput(value)
		{
			var cleanNumber = value.replace( /[^\-.0-9]/g, '');
			var firstPos = cleanNumber.indexOf(".");
			var lastPos = cleanNumber.lastIndexOf(".");
			while(firstPos!=lastPos)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				firstPos = cleanNumber.indexOf(".");
				lastPos = cleanNumber.lastIndexOf(".");
			}
			var lastPos = cleanNumber.lastIndexOf("-");
			while(lastPos>0)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				lastPos = cleanNumber.lastIndexOf("-");
			}
			return cleanNumber;
		}

		function validateNumber(evt, functionToCall)
		{
			var isValid = true;
			var candidate = evt.target.value;
			var strippedNumber = cleanNumericInput(candidate);
			strippedNumber = strippedNumber || 0;
			if(isNaN(candidate))
			{
				evt.target.style.color = "red";
				evt.target.value = "Not number";
				isValid = false;
				var anim1 = dojo.animateProperty({
						node: evt.target, delay: 1000,
						properties:{
							opacity: { end: 0 }
						}
					}); 
				var anim2 = dojo.animateProperty
				({
						node: evt.target, delay: 1000,
						properties:
						{
							opacity: { end: 1 }, color: { end: 'black'}
						},
						onEnd: function()
						{
							evt.target.value = strippedNumber;
							//functionToCall(evt);
    					}
				}); 
				anim1.play();
				anim2.play();
			}
			else
			{
				evt.target.value = strippedNumber;
				//functionToCall(evt);
			}
			return isValid;
		}

		dojo.addOnLoad(function()
		{
			var queryNodes = dojo.query(".quantity-field");
			for(var i=0;i<queryNodes.length;i++)
			{
				var node = queryNodes[i]
				dojo.connect(node, "onblur", "validateNumber");
			}
		});

    </script>

{% endblock %}

{% block content %}

<div class="inventory-update">

	{% include tabnav %}

    <form action="." method="POST" >{% csrf_token %}
		<input name='producer-id' type='hidden' value='{{ producer.id }}' />
		<input name='avail-date' type='hidden' value='{{ avail_date }}' />
        <table>
            <tr>
                <th style="text-align: right; " >{% trans "Producer" %}:</th>
                <td>{{ producer.short_name }} - {{ producer.long_name }}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Week of" %}:</th>
                <td>{{ avail_date}}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Contact" %}:</th>
               <td  id="contact" >{{producer.contact}}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Phone" %}:</th>
                <td id="phone" >{{producer.phone}}</td>
            </tr>
        </table>

	<table class="ga-event-table" >
	    <tr>		
		<th>{% trans "Product" %}</th>
		<th>{% trans "Lot Id" %}</th>
        	<th>{% trans "Field" %}</th>
		<th>{% trans "Custodian" %}</th>
		<th>{% trans "Inventory Date" %}</th>
		<th>{% trans "Expiration Date" %}</th>
		{% if planned %}
			<th>{% trans "Planned Qty" %}</th>
		{% endif %}
        	<th>{% trans "Ready Qty" %}</th>
        	<th>{% trans "Received Qty" %}</th>
		<th>{% trans "Notes" %}</th>
            </tr>
            {% for item_form in item_forms %}
                 <tr>
			 <td class="read-only-td" > {{ item_form.description }} </td>
			 <td> {{ item_form.freeform_lot_id }} </td>
			 <td> {{ item_form.field_id }} </td>
			<td> {{ item_form.custodian }} </td>
			<td> {{ item_form.inventory_date }} </td>
			<td> {{ item_form.expiration_date }} </td>
			{% if planned %}
				<td class="read-only-td" style="text-align: right;" > {{ item_form.plan_qty }} </td>
			{% endif %}
			<td> {{ item_form.planned }} </td>
			<td> {{ item_form.received }} </td>
			<td> {{ item_form.notes }} </td>
			{{ item_form.item_id }}
			{{ item_form.prod_id }}
                </tr>
           {% endfor %} 
        </table>

        <p style="padding-bottom: 1em;" >
            <input type="submit" value="{% trans 'Submit' %}" />
        </p>
    </form>
</div>
{% endblock %}
