{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Inventory Selection" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}
		
{% block header %}
    <script type="text/javascript" >

		function producerChanged(evt)
		{
			dojo.byId("contact").innerHTML = '---';
			dojo.byId("phone").innerHTML = '---';
			var jsonUrl = "/distribution/jsonproducer/" + evt.target.value + "/";
			dojo.xhrGet( 
			{
					url: jsonUrl,
					handleAs: "json",
					load: function(responseObject, ioArgs) 
					{
						var producer = responseObject[0];
						dojo.byId("contact").innerHTML = producer.fields.contact;
						dojo.byId("phone").innerHTML = producer.fields.phone;
					}
			});
		}


		dojo.addOnLoad(function()
		{
			var node = dojo.byId("id_producer");
			dojo.connect(node, "onchange", "producerChanged");
			node.focus();
		});

    </script>

{% endblock %}

{% block content %}

<div class="inventory-update">

	{% include "distribution/tabnav.html" %}

	<div style="float: left; border: 2px solid grey; float: left; width: 40%; padding-left: 1em; padding-top: 4px; ">

    <form action="." method="POST" >{% csrf_token %}
        <table>
            <tr>
                <th style="text-align: right; " >{% trans "Producer" %}:</th>
                <td>
					{{ header_form.producer }}
				</td>
				{% if header_form.producer.errors %}
					<td style="color: red; " >
						{{ header_form.producer.errors }}
					</td>
				{% endif %}
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Week of" %}:</th>
                <td>{{ header_form.avail_date}}</td>
				{% if header_form.avail_date.errors %}
					<td style="color: red; " >
						{{ header_form.avail_date.errors }}
					</td>
				{% endif %}
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Contact" %}:</th>
               <td  id="contact" >---</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Phone" %}:</th>
                <td id="phone" >---</td>
            </tr>
        </table>
        <p>
            <input type="submit" value='{% trans "Add or change whats available" %}' />
        </p>
	</form>

	</div>

	{% if available %}

	<div style="float: left; margin-top: 1em; " >
	<h3>What's Available</h3>

	<table class="ga-event-table" >
		<tr>
			<th>{% trans "Producer" %}</th>
			<th>{% trans "Product" %}</th>
			<th>{% trans "Lot" %}</th>
			<th>{% trans "Inventory Date" %}</th>
			<th>{% trans "Expiration Date" %}</th>
			<th>{% trans "Where" %}</th>		
	        	<th>{% trans "Avail" %}</th>
			<th>{% trans "Ordered" %}</th>
			<th>{% trans "Buyers" %}</th>
		</tr>
		{% for lot in available %}
		<tr>
			<td>{{ lot.producer }}</td>
			<td>{{ lot.product }}</td>
			<td>{{ lot.lot_id }}</td>
			<td>{{ lot.inventory_date }}</td>
			<td>{{ lot.expiration_date }}</td>
			<td>{{ lot.where }}</td>
			<td style="text-align: right;" >{{ lot.avail_qty }}</td>
			<td style="text-align: right;" >{{ lot.ordered_qty }}</td>
			<td>{{ lot.customers }}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div style="clear: both; "></div>
	{% endif %}
</div>
{% endblock %}
