{% extends "base.html" %}

{% block title %}
     Payments Due to Member
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="producer-payments">

	{% include "distribution/tabnav.html" %}

    <h4 style='margin-left: 2em;' >
        <i>Payments due to {{ producer.long_name }} for transactions from {{from_date}} to {{to_date}}</i>
    </h4>
	
	{% if producer.deliveries %}
	<h4> Products </h4>
    <table class="ga-event-table" >
        <tr>
             <th>Type</th>
             <th>Order</th>
             <th>Due?</th>
             <th>Item</th>
             <th>Date</th>
             <th>Quantity</th>
             <th>Unit Price</th>
             <th>Fee</th>
             <th>Due</th>
			{% if show_payments %}
				<th>Paid</th>
			{% endif %}
        </tr>
        	{% for delivery in producer.deliveries %}
            <tr>
			    <td>{{ delivery.transaction_type }}</td>
                <td>{{ delivery.order_item.order.customer }}: {{ delivery.order_item.order.id }}</td>
                <td>{{ delivery.is_due }}</td>
                <td>{{ delivery.inventory_item.product }} </td>
			    <td>{{ delivery.transaction_date }}</td>
                <td style="text-align: right; ">{{ delivery.amount }}</td>
                <td style="text-align: right; ">{{ delivery.unit_price }}</td>
                <td style="text-align: right; ">{{ delivery.extended_producer_fee }}</td>
                <td style="text-align: right; ">{{ delivery.due_to_member }}</td>
				{% if show_payments %}
					<td style="text-align: right; "> {{ delivery.paid_amount }} </td>
				{% endif %}
            </tr>
        	{% endfor %}
    </table>
	{% endif %}
	
	{% if producer.processes %}
	<h4>Processing</h4>
    <table class="ga-event-table" >
        <tr>
             <th>Type</th>
             <th>Order</th>
             <th>Due?</th>
             <th>Item</th>
             <th>Date</th>
             <th>Due</th>
			{% if show_payments %}
				<th>Paid</th>
			{% endif %}
        </tr>
		{% for process in producer.processes %}
		<tr>
			<td>{{ process.service_type }}</td>
			<td>
				{{ process.order_string }}: 
			</td>
			<td>{{ process.is_due }}</td>
			<td>{{ process.product_string }} </td>
			<td>{{ process.transaction_date }}</td>
			<td style="text-align: right; ">{{ process.due_to_member }}</td>
			{% if show_payments %}
				<td style="text-align: right; "> {{ process.paid_amount }} </td>
			{% endif %}
		</tr>
		{% endfor %}	
    </table>
	{% endif %}

	{% if producer.transportations %}
	<h4>Transportation</h4>
    <table class="ga-event-table" >
        <tr>
             <th>Order</th>
             <th>Due?</th>
             <th>Date</th>
             <th>Due</th>
			{% if show_payments %}
				<th>Paid</th>
			{% endif %}
        </tr>

		{% for tx in producer.transportations %}
		<tr>
			<td>
				{{ tx.order.customer }}: 
				{{ tx.order.id }}
			</td>
			<td>{{ tx.is_due }}</td>
			<td>{{ tx.order.order_date }}</td>
			<td style="text-align: right; ">{{ tx.due_to_member }}</td>
			{% if show_payments %}
				<td style="text-align: right; "> {{ tx.paid_amount }} </td>
			{% endif %}
		</tr>
		{% endfor %}
    </table>
	{% endif %}
	
	{% if producer.damaged %}
	<h4> Damaged </h4>
		<table class="ga-event-table" >
		    <tr>
		         <th>Item</th>
                 <th>Date</th>
		         <th>Quantity</th>
		         <th>Notes</th>
		         <th>Unit Price</th>
		         <th>Fee</th>
		         <th>Due</th>
				{% if show_payments %}
					<th>Paid</th>
				{% endif %}
		    </tr>
		    	{% for damage in producer.damaged %}
		        <tr>
		            <td>{{ damage.inventory_item }} </td>
			    	<td>{{ damage.transaction_date }}</td>
		            <td style="text-align: right; ">{{ damage.amount }}</td>
		            <td>{{ damage.notes }} </td>
		            <td style="text-align: right; ">{{ damage.inventory_item.product.price }}</td>
		            <td style="text-align: right; ">{{ damage.inventory_item.product.decide_fee }}</td>
		            <td style="text-align: right; ">{{ damage.due_to_member }}</td>
					{% if show_payments %}
						<td style="text-align: right; "> {{ damage.paid_amount }} </td>
					{% endif %}
		        </tr>
		    	{% endfor %}
		</table>
	{% endif %}
	{% if producer.rejected %}
		<h4> Rejected </h4>
		<table class="ga-event-table" >
		    <tr>
		         <th>Item</th>
                 <th>Date</th>
		         <th>Quantity</th>
		         <th>Notes</th>
		    </tr>
		    	{% for reject in producer.rejected %}
		        <tr>
		            <td>{{ reject.inventory_item }} </td>
			    	<td>{{ reject.transaction_date }}</td>
		            <td style="text-align: right; ">{{ reject.amount }}</td>
		            <td>{{ reject.notes }} </td>
		        </tr>
		    	{% endfor %}
		</table>
	{% endif %}
    <h4 style="margin-left: 3em; " >
        Total Due: ${{ producer.total_due }}
    </h4>
</div>
{% endblock %} 
