{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Payments Due to Member" %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="payments">

	{% include "distribution/tabnav.html" %}

    <h4 style='margin-left: 2em;' >
        <i>{% blocktrans %}
			Payments due to {{ producer }} for transactions from {{from_date}} to {{to_date}}
		{% endblocktrans %}</i>
    </h4>
	
	{% if producer.deliveries %}
	<h4> {% trans "Products" %} </h4>
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Type" %}</th>
             <th>{% trans "Order" %}</th>
             <th>{% trans "Due?" %}</th>
             <th>{% trans "Item" %}</th>
             <th>{% trans "Date" %}</th>
             <th>{% trans "Quantity" %}</th>
             <th>{% trans "Unit Price" %}</th>
             <th>{% trans "Fee" %}</th>
             <th>{% trans "Due" %}</th>
			{% if show_payments %}
				<th>{% trans "Paid" %}</th>
			{% endif %}
        </tr>
        	{% for delivery in producer.deliveries %}
            <tr>
			    <td>{{ delivery.transaction_type }}</td>
                <td>{{ delivery.order_item.order.customer }}: {{ delivery.order_item.order.id }}</td>
                <td>{{ delivery.is_due }}</td>
                <td>{{ delivery.inventory_item.product }} </td>
			    <td>{{ delivery.transaction_date }}</td>
                <td style="text-align: right; ">{{ delivery.amount }}</td>
                <td style="text-align: right; ">{{ delivery.unit_price }}</td>
                <td style="text-align: right; ">{{ delivery.extended_producer_fee }}</td>
                <td style="text-align: right; ">{{ delivery.due_to_member }}</td>
				{% if show_payments %}
					<td style="text-align: right; "> {{ delivery.paid_amount }} </td>
				{% endif %}
            </tr>
        	{% endfor %}
    </table>
	{% endif %}
	
	{% if producer.processes %}
	<h4>{% trans "Processing" %}</h4>
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Type" %}</th>
             <th>{% trans "Order" %}</th>
             <th>{% trans "Due?" %}</th>
             <th>{% trans "Item" %}</th>
             <th>{% trans "Date" %}</th>
             <th>{% trans "Due" %}</th>
			{% if show_payments %}
				<th>{% trans "Paid" %}</th>
			{% endif %}
        </tr>
		{% for process in producer.processes %}
		<tr>
			<td>{{ process.service_type }}</td>
			<td>
				{{ process.order_string }}: 
			</td>
			<td>{{ process.is_due }}</td>
			<td>{{ process.product_string }} </td>
			<td>{{ process.transaction_date }}</td>
			<td style="text-align: right; ">{{ process.due_to_member }}</td>
			{% if show_payments %}
				<td style="text-align: right; "> {{ process.paid_amount }} </td>
			{% endif %}
		</tr>
		{% endfor %}	
    </table>
	{% endif %}

	{% if producer.transportations %}
	<h4>{% trans "Transportation" %}</h4>
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Order" %}</th>
             <th>{% trans "Due?" %}</th>
             <th>{% trans "Date" %}</th>
             <th>{% trans "Due" %}</th>
			{% if show_payments %}
				<th>{% trans "Paid" %}</th>
			{% endif %}
        </tr>

		{% for tx in producer.transportations %}
		<tr>
			<td>
				{{ tx.order.customer }}: 
				{{ tx.order.id }}
			</td>
			<td>{{ tx.is_due }}</td>
			<td>{{ tx.order.order_date }}</td>
			<td style="text-align: right; ">{{ tx.due_to_member }}</td>
			{% if show_payments %}
				<td style="text-align: right; "> {{ tx.paid_amount }} </td>
			{% endif %}
		</tr>
		{% endfor %}
    </table>
	{% endif %}
	
	{% if producer.damaged %}
	<h4> {% trans "Damaged" %} </h4>
		<table class="ga-event-table" >
		    <tr>
		         <th>{% trans "Item" %}</th>
                 <th>{% trans "Date" %}</th>
		         <th>{% trans "Quantity" %}</th>
		         <th>{% trans "Notes" %}</th>
		         <th>{% trans "Unit Price" %}</th>
		         <th>{% trans "Fee" %}</th>
		         <th>{% trans "Due" %}</th>
				{% if show_payments %}
					<th>{% trans "Paid" %}</th>
				{% endif %}
		    </tr>
		    	{% for damage in producer.damaged %}
		        <tr>
		            <td>{{ damage.inventory_item }} </td>
			    	<td>{{ damage.transaction_date }}</td>
		            <td style="text-align: right; ">{{ damage.amount }}</td>
		            <td>{{ damage.notes }} </td>
		            <td style="text-align: right; ">{{ damage.inventory_item.product.price }}</td>
		            <td style="text-align: right; ">{{ damage.inventory_item.product.decide_fee }}</td>
		            <td style="text-align: right; ">{{ damage.due_to_member }}</td>
					{% if show_payments %}
						<td style="text-align: right; "> {{ damage.paid_amount }} </td>
					{% endif %}
		        </tr>
		    	{% endfor %}
		</table>
	{% endif %}
	{% if producer.rejected %}
		<h4> {% trans "Rejected" %} </h4>
		<table class="ga-event-table" >
		    <tr>
		         <th>{% trans "Item" %}</th>
                 <th>{% trans "Date" %}</th>
		         <th>{% trans "Quantity" %}</th>
		         <th>{% trans "Notes" %}</th>
		    </tr>
		    	{% for reject in producer.rejected %}
		        <tr>
		            <td>{{ reject.inventory_item }} </td>
			    	<td>{{ reject.transaction_date }}</td>
		            <td style="text-align: right; ">{{ reject.amount }}</td>
		            <td>{{ reject.notes }} </td>
		        </tr>
		    	{% endfor %}
		</table>
	{% endif %}
    <h4 style="margin-left: 3em; " >
        {% trans "Total Due" %}: ${{ producer.total_due }}
    </h4>
</div>
{% endblock %} 
