{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Order Selection" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

    <script type="text/javascript" >

		function customerChanged(evt)
		{
			dojo.byId("contact").innerHTML = '---';
			dojo.byId("phone").innerHTML = '---';
			var jsonUrl = "/distribution/jsoncustomer/" + evt.target.value + "/";
			dojo.xhrGet( 
			{
					url: jsonUrl,
					handleAs: "json",
					load: function(responseObject, ioArgs) 
					{
						var customer = responseObject[0];
						dojo.byId("contact").innerHTML = customer.fields.contact;
						dojo.byId("phone").innerHTML = customer.fields.phone;
					}
			});
		}


		dojo.addOnLoad(function()
		{
			dojo.connect(dojo.byId("id_customer"), "onchange", "customerChanged");

		});

    </script>

{% endblock %}

{% block content %}

<div class="order-update">

	{% include "distribution/tabnav.html" %}

	<div style="border: 2px solid grey; width: 40%; padding-left: 1em;">
		<h3>New order:</h3>
	    <form action="." method="POST" >
        	<table>
	            <tr>
        	        <th style="text-align: right; " >{% trans "Customer" %}:</th>
                	<td>{{ header_form.customer }}</td>
				{% if header_form.customer.errors %}
					<td style="color: red; " >
						{{ header_form.customer.errors }}
					</td>
				{% endif %}
	            </tr>
	            <tr>
        	        <th style="text-align: right; " >{% trans "Delivery date" %}:</th>
                	<td>{{ header_form.delivery_date}}</td>
				{% if header_form.delivery_date.errors %}
					<td style="color: red; " >
						{{ header_form.delivery_date.errors }}
					</td>
				{% endif %}
	            </tr>
        	    <tr>
                	<th style="text-align: right; " >{% trans "Contact" %}:</th>
	               <td  id="contact" >---</td>
        	    </tr>
	            <tr>
        	        <th style="text-align: right; " >{% trans "Phone" %}:</th>
                	<td id="phone" >---</td>
	            </tr>
        	</table>

	        <p>
        	    <input type="submit" value="{% trans 'Submit' %}" />
	        </p>
	    </form>
	</div>

	{% if unpaid_orders %}
		<div style="padding-left: 1em;">
			<h4>Unpaid orders:</h4>
			<ul>
			{% for order in unpaid_orders %}
	
				<li>
					<a href="{% url distribution_order order_id=order.id %}">
						#{{ order.id }} {{ order.customer }} 
						Ordered: {{ order.order_date }} Delivery: {{ order.delivery_date }} 
						${{ order.grand_total }}
					</a>&nbsp;&nbsp; 
					{% comment %}
					<a href="{% url change_order order_id=order.id %}">Change</a>
					{% endcomment %}
				</li>
	
			{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
{% endblock %}
