{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Order" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<!--
	<p class="do-not-print" >
		<a href="/orderselection">{% trans "Update another order" %}</a> <a href="/dashboard/">{% trans "Dashboard" %}</a>
	</p>
	-->

<div class="order-update">

	{% include "distribution/tabnav.html" %}

    <table style="margin-bottom: 1em;" >
        <tr>
            <th style="text-align: right; " >{% trans "Order Number" %}: </th>
            <td>{{order.id}}</td>
        </tr>
        <tr>
            <th style="text-align: right; " >{% trans "Customer" %}: </th>
            <td>{{order.customer.short_name}} {{order.customer.long_name}}</td>
        </tr>
	<tr>
		<th style="text-align: right; " >{% trans "Purchase Order" %}: </th>
            <td>{{order.purchase_order}}</td>
        </tr>
         <tr>
            <th style="text-align: right; " >{% trans "Order Date" %}: </th>
             <td>{{order.order_date}}</td>
         </tr>
 		<tr>
            <th style="text-align: right; " >{% trans "Delivery Date" %}: </th>
            <td>{{order.delivery_date}}</td>
        </tr>
	<tr>
            <th style="text-align: right; " >{% trans "Distributor" %}: </th>
            <td>{{order.distributor}}</td>
        </tr>
		<tr>
            <th style="text-align: right; " >{% trans "Transportation Fee" %}: </th>
            <td>{{order.transportation_fee}}</td>
        </tr>
        <tr>
            <th style="text-align: right; " >{% trans "State" %}:</th>
            <td>{{order.get_state_display}}</td>
        </tr>
    </table>
    <table class="ga-event-table" >
        <tr>
		<th>{% trans "Product" %}</th>
		<th>{% trans "Growing Method" %}</th>
             	<th>{% trans "Quantity" %}</th>
             	<th>{% trans "Unit Price" %}</th>
             	<th>{% trans "Extended Price" %}</th>
             	<th>{% trans "Producer" %}</th>
             	<th>{% trans "Notes" %}</th>
        </tr>
        {% for orderitem in order.orderitem_set.all %}
            <tr>
		<td>{{ orderitem.product.long_name }}</td>
		<td>{{ orderitem.product.growing_method }}</td>
                <td style="text-align: right; ">{{ orderitem.quantity }}</td>
                <td style="text-align: right; ">{{ orderitem.unit_price }}</td>
                <td style="text-align: right; ">{{ orderitem.extended_price }}</td>
                <td>{{ orderitem.producers }}</td>
                <td>{{ orderitem.notes }}</td>
            </tr>
        {% endfor %}
    </table>
    <table style="margin-top: 1em; margin-left: 3em; " >
		<tr>
			<th style="text-align: right;" >Total Price:</th>
			<td style="text-align: right;" >${{ order.total_price }}</td>
		</tr>

		{% if order.transportation_fee %}
			<tr>
				<th style="text-align: right;" >Transportation Fee:</th>
				<td style="text-align: right;" >${{ order.display_transportation_fee }}</td>
			</tr>
		{% endif %}
		<tr>
			<th style="text-align: right;" >Co-op Fee:</th>
			<td style="text-align: right;" >${{ order.coop_fee }}</td>
		</tr>

		<tr>
			<th style="text-align: right;" >Grand Total:</th>
			<td style="text-align: right;" >${{ order.grand_total }}</td>
		</tr>
    </table>
    
</div>    
{% endblock %} 

