{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Payment Table Selection" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="producer-payments">

	{% include "distribution/tabnav.html" %}

    <form action="." method="POST" >
        <table>
            <tr>
                <th style="text-align: right; " >{% trans "Member" %}:</th>
                <td>
					{{ header_form.producer }}
				</td>
				{% if header_form.producer.errors %}
					<td style="color: red; " >
						{{ header_form.producer.errors }}
					</td>
				{% endif %}
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "From Date" %}:</th>
                <td>{{ header_form.from_date}}</td>
				{% if header_form.from_date.errors %}
					<td style="color: red; " >
						{{ header_form.from_date.errors }}
					</td>
				{% endif %}
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "To Date" %}:</th>
                <td>{{ header_form.to_date}}</td>
				{% if header_form.to_date.errors %}
					<td style="color: red; " >
						{{ header_form.to_date.errors }}
					</td>
				{% endif %}
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Due to be paid?" %}:</th>
                <td>{{ header_form.due}}</td>
            </tr>
			<tr>
                <th style="text-align: right; " >{% trans "Member has been paid?" %}</th>
                <td>{{ header_form.paid_member}}</td>
            </tr>

        </table>
        <p>
            <input type="submit" value="{% trans 'Submit' %}" />
        </p>
    </form>
</div>
{% endblock %}
