{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Payment Update Selection" %}
{% endblock %}

{% block header %}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"></script>
    <script type="text/javascript" >

		var paymentSelections = []

		function insertOption(selField, optionText, optionValue)
		{
			var newOpt = document.createElement('option');
			newOpt.text = optionText;
			if(typeof(optionValue) != "undefined")
			{
				newOpt.value = optionValue;
			}
			else
			{
				newOpt.value = optionText;
			}
			try
			{
				selField.add(newOpt,null); // standards compliant
			}
			catch(ex)
			{
				selField.add(newOpt); // IE only
			}
		}

		function producerChanged(evt)
		{
			var selectField = dojo.byId('id_payment');
			var sfLength = selectField.length;
			for (var i=0; i<sfLength; i++)
			{
			   selectField.remove(selectField.options[0]);
			}

			var producerId = evt.target.value;
			if(producerId)
			{
				var jsonUrl = "/distribution/jsonpayments/" + evt.target.value + "/";
				dojo.xhrGet( 
				{
						url: jsonUrl,
						handleAs: "json",
						load: function(responseObject, ioArgs) 
						{
							var payments = responseObject;

							insertOption(selectField, 'New', '')
							for(var idx=0;idx<payments.length;idx++)
							{
								var payment = payments[idx];
								var paymentLabel = '#' + payment.pk + ' ' + payment.fields.transaction_date + ' $' + payment.fields.amount;
								insertOption(selectField, paymentLabel, payment.pk);
							}
						}
				});
			}
			else
			{
				var sels = paymentSelections;
				for(var idx=0;idx<paymentSelections.length;idx++)
				{
					var sel = paymentSelections[idx];
					insertOption(selectField, sel[0], sel[1]);
				}
			}
		}

		function savePaymentSelections()
		{
			sels = dojo.byId('id_payment').options;
			for(var idx=0;idx<sels.length;idx++)
			{
				var sel = sels[idx];
				var el = []
				el[0] = sel.text;
				el[1] = sel.value;
				paymentSelections.push(el);
			}
			
		}

		dojo.addOnLoad(function()
		{
			dojo.connect(dojo.byId("id_producer"), "onchange", "producerChanged");
			savePaymentSelections();

		});

    </script>

{% endblock %}

{% block content %}

<div class="payment-update">

	{% include "distribution/tabnav.html" %}

    <form action="." method="POST" >
        <table>
            <tr>
                <th style="text-align: right; " >{% trans "Member" %}:</th>
                <td>{{ selection_form.producer }}</td>
            </tr>
            <tr>
                <th style="text-align: right; " >{% trans "Payment" %}:</th>
                <td>{{ selection_form.payment }}</td>
            </tr>
        </table>

        <p>
            <input type="submit" value="{% trans 'Submit' %}" />
        </p>
    </form>
</div>
{% endblock %}
