{% extends "base.html" %}
{% load i18n %}

{% load humanize %}

{% block title %}
     {% trans "Planning Table" %}
{% endblock %}

{% block header %}

<style>
table thead
{
	position: fixed;
}

</style>

<script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"></script>
    <script type="text/javascript" >

		function cleanNumericInput(value)
		{
			var cleanNumber = value.replace( /[^\-.0-9]/g, '');
			var firstPos = cleanNumber.indexOf(".");
			var lastPos = cleanNumber.lastIndexOf(".");
			while(firstPos!=lastPos)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				firstPos = cleanNumber.indexOf(".");
				lastPos = cleanNumber.lastIndexOf(".");
			}
			var lastPos = cleanNumber.lastIndexOf("-");
			while(lastPos>0)
			{
				cleanNumber=cleanNumber.substring(0,lastPos) + cleanNumber.substring(lastPos + 1);
				lastPos = cleanNumber.lastIndexOf("-");
			}
			return cleanNumber;
		}

		function validateNumber(evt, functionToCall)
		{
			var isValid = true;
			var candidate = evt.target.value;
			var strippedNumber = cleanNumericInput(candidate);
			strippedNumber = strippedNumber || 0;
			if(isNaN(candidate))
			{
				evt.target.style.color = "red";
				evt.target.value = "error";
				isValid = false;
				var anim1 = dojo.animateProperty({
						node: evt.target, delay: 1000,
						properties:{
							opacity: { end: 0 }
						}
					}); 
				var anim2 = dojo.animateProperty
				({
						node: evt.target, delay: 1000,
						properties:
						{
							opacity: { end: 1 }, color: { end: 'black'}
						},
						onEnd: function()
						{
							evt.target.value = strippedNumber;
							if(functionToCall)
							{
								functionToCall(evt);
							}
    					}
				}); 
				anim1.play();
				anim2.play();
			}
			else
			{
				evt.target.value = strippedNumber;
				if(functionToCall)
				{
					functionToCall(evt);
				}
			}
			return isValid;
		}

		function quantityChanged(evt)
		{
			//alert(evt.target.id + " changed: " + evt.target.value);
			validateNumber(evt);

		}

		dojo.addOnLoad(function()
		{
			// todo: shd use delegation; might require jquery
			var queryNodes = dojo.query(".quantity-field");
			for(var i=0;i<queryNodes.length;i++)
			{
				var node = queryNodes[i];
				dojo.connect(node, "onblur", "quantityChanged");

			}

		});
	</script>

{% endblock %}

{% block content %}

<div class="{{ nav_class }}">

	{% include tabnav %}

	<h3 style="margin-bottom: 0; padding-top: 0; margin-top: 0; ">
		{% blocktrans %}{{ plan_type }} Plan from {{ from_date }} to {{ to_date }}{% endblocktrans %}
	</h3>
	<p style="margin-top: 0; font-style: italic; " >
	{% ifequal list_type "A" %}
		{% blocktrans %}Using All Products.  Planned products go onto the {{ member }} Product List.{% endblocktrans %}
	{% else %}
		{% blocktrans %}Using {{ member }} Product Lists{% endblocktrans %}
	{% endifequal %}
	</p>

	<form action="." method="POST" >
	<input style="margin-bottom: 4px;" type="submit" value="Submit" />
	<table class="ga-event-table" style="font-size: 90%;" >
		<thead>
			<tr>
				{% for column in plan_table.columns %}
					{% if forloop.first %}
						<th style="text-align: right; width: 104px; " >{{ column }}</th>
					{% else %}
					<th style="width: 4em; " >{{ column|date:"n-j" }}</th>
					{% endif %}
				{% endfor %}
			</tr>
		</thead>
	</table>
	<br />
	<table class="ga-event-table" style="font-size: 90%;" >

		<tbody>
			{% for row in forms %}
			<tr>
				<th style="text-align: right; width: 104px; " >{{ row.product }}</th>
				{{ row.formset.management_form }}
				{% for cell in row.formset.forms %}
					<td style="width: 4em; " >{{ cell.quantity }}</td>
					{{ cell.from_date }}
					{{ cell.to_date }}
					{{ cell.plan_id }}
					{{ cell.product_id }}
				{% endfor %}			
			</tr>
			{% endfor %}
		</tbody>

	</table>
	<input style="margin-top: 4px;" type="submit" value="{% trans 'Submit' %}" />
	</form>

</div>
<div><p>.</p></div>
 
{% endblock %} 

