{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Member Plan" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="plan-update">


	{% include "distribution/tabnav.html" %}

    <table style="margin-bottom: 1em; ">
        <tr>
            <th style="text-align: right; " >{% trans "Member" %}: </th>
            <td>{{ member.short_name }} - {{member.long_name}}</td>
        </tr>
    </table>
    <table class="ga-event-table" >
        <tr>
             <th>{% trans "Category" %}</th>
             <th>{% trans "Product" %}</th>
	 		 <th>{% trans "From Date" %}</th>
			 <th>{% trans "To Date" %}</th>
             <th>{% trans "Quantity" %}</th>
        </tr>
        {% for item in plans %}
            <tr>
                <td>{{ item.parents }}</td>
                <td>{{ item.product.long_name }}</td>
                <td>{{ item.from_date }}</td>
				<td>{{ item.to_date }}</td>
                <td style="text-align: right; ">{{ item.quantity }}</td>
            </tr>
        {% endfor %}
	</table>

</div>
{% endblock %} 
