{% extends "base.html" %}

{% block title %}
	Short Changes for {{ date }}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="order-table">

	{% include "distribution/tabnav.html" %}

	<h4>Short Changes for {{ date }}</h4>

	<table class="ga-event-table" >
		<tr>
			<th>Order</th>
			<th>Product</th>
			<th>Original Qty</th>
			<th>Changed Qty</th>
		</tr>
		{% for item in changed_items %}
		<tr>
				<td>{{ item.order }}</td>
				<td>{{ item.product }}</td>
				<td>{{ item.orig_qty }}</td>
				<td>{{ item.quantity }}</td>
			</tr>
		{% endfor %}

	</table>
	{% if changed_items %}
		<div style="margin: 1em; " >
			<form action="{% url send_short_change_notices %}" method="POST">
				<input class="submit-btn" type="submit" value="Send Short Change Emails" />
				<input type="hidden" name="next" value="{% url dashboard %}" />
			</form>
		</div>
	{% endif %}

</div>
{% endblock %} 
