{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% blocktrans %}Shorts Changes for {{ date }}{% endblocktrans %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="order-table">

	{% include "distribution/tabnav.html" %}

	<h4>{% blocktrans %}Shorts Changes for {{ date }}{% endblocktrans %}</h4>

	<table class="ga-event-table" >
		<tr>
			<th>{% trans "Order" %}</th>
			<th>{% trans "Product" %}</th>
			<th>{% trans "Original Qty" %}</th>
			<th>{% trans "Changed Qty" %}</th>
		</tr>
		{% for item in changed_items %}
		<tr>
				<td>{{ item.order }}</td>
				<td>{{ item.product }}</td>
				<td>{{ item.orig_qty }}</td>
				<td>{{ item.quantity }}</td>
			</tr>
		{% endfor %}

	</table>
	{% if changed_items %}
		<div style="margin: 1em; " >
			<form action="{% url send_short_change_notices year=date.year month=date.month day=date.day %}" method="POST">{% csrf_token %}
				<input class="submit-btn" type="submit" value="{% trans 'Send Short Change Emails' %}" />
				<input type="hidden" name="next" value="{% url dashboard %}" />
			</form>
		</div>
	{% endif %}

</div>
{% endblock %} 
