{% extends "base.html" %}
{% load i18n %}

{% block title %}
     {% trans "Statements" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="statements">

	{% include "distribution/tabnav.html" %}
	
		
	{% for payment in payments %}
		<div style="page-break-after: always; page-break-inside: avoid; width: 7in; " >
		<table style="width: 100%; margin-bottom: 1em; page-break-after: avoid; " >
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<b>{{ network.long_name }}</b><br />
								{% for header_line in network.formatted_billing_address %}
									{{ header_line }}<br />
								{% endfor %}
								{{ network.billing_phone }} <br />
								{{ network.billing_email_address }}
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th style="text-align: right; " >{% trans "Payment Date" %}: </th>
							<td>{{payment.transaction_date}}</td>
						</tr>
						<tr>
							<th style="text-align: right; vertical-align: top; " >{% trans "Payment to" %}: </th>
							<td>
								{{payment.to_whom.long_name}} <br />
								{% for header_line in payment.paid_to.formatted_address %}
									{{ header_line }}<br />
								{% endfor %}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			
		</table>
	
		<h4>{% trans "Transactions" %}:</h4>

		<table class="ga-event-table" style="page-break-before: avoid; width: 100%; " >
			{% if payment.paid_inventory_transactions %}
				<tr>
					<th>{% trans "Type" %}</th>
					<th>{% trans "Order Item" %}</th>
					<th>{% trans "Lot" %}</th>
					<th>{% trans "Date" %}</th>
					<th>{% trans "Quantity" %}</th>
					<th>{% trans "Unit Price" %}</th>
					<th>{% trans "Fee" %}</th>
					<th>{% trans "Due" %}</th>
				</tr>
				{% for tx in payment.paid_inventory_transactions %}
					<tr>
						<td>{{ tx.transaction_type }}</td>
						<td>{{ tx.order_item }}</td>
						<td>{{ tx.inventory_item.lot_id }}</td>
						<td>{{ tx.transaction_date }}</td>
						<td style="text-align: right; ">{{ tx.amount }}</td>
						<td style="text-align: right; ">{{ tx.order_item.unit_price }}</td>
						<td style="text-align: right; ">{{ tx.order_item.extended_producer_fee }}</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
				{% for tx in payment.paid_service_transactions %}
					<tr>
						<td>{{ tx.service_type }}</td>
						<td>{{ tx.order_string }}</td>
						<td>{{ tx.product_string }}</td>
						<td>{{ tx.transaction_date }}</td>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
				{% for tx in payment.paid_transportation_transactions %}
					<tr>
						<td>{{ tx.service_type }}</td>
						<td>{{ tx.order }}</td>
						<td>Transportation</td>
						<td>{{ tx.transaction_date }}</td>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th colspan="7" style="text-align: right; font-weight: bold; " >{% trans "Total Payment" %}:</th>
					<td style="text-align: right; font-weight: bold; " >${{ payment.amount }}</td>
				</tr>
			{% else %}
				{% if payment.paid_service_transactions %}
					<tr>
						<th>{% trans "Type" %}</th>
						<th>{% trans "Order" %}</th>
						<th>{% trans "Product" %}</th>
						<th>{% trans "Date" %}</th>
						<th>{% trans "Due" %}</th>
					</tr>
					{% for tx in payment.paid_service_transactions %}
					<tr>
						<td>{{ tx.service_type }}</td>
						<td>{{ tx.order_string }}</td>
						<td>{{ tx.product_string }}</td>
						<td>{{ tx.transaction_date }}</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
				{% for tx in payment.paid_transportation_transactions %}
					<tr>
						<td>{{ tx.service_type }}</td>
						<td>{{ tx.order }}</td>
						<td>Transportation</td>
						<td>{{ tx.transaction_date }}</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
					<tr>
						<th colspan="4" style="text-align: right; font-weight: bold; " >{% trans "Total Payment" %}:</th>
						<td style="text-align: right; font-weight: bold; " >${{ payment.amount }}</td>
					</tr>
				{% else %}
					<tr>
						<th>{% trans "Type" %}</th>
						<th>{% trans "Order" %}</th>
						<th>{% trans "Date" %}</th>
						<th>{% trans "Due" %}</th>
					</tr>
				{% for tx in payment.paid_transportation_transactions %}
					<tr>
						<td>{{ tx.service_type }}</td>
						<td>{{ tx.order }}</td>
						<td>{{ tx.transaction_date }}</td>
						<td style="text-align: right; ">{{ tx.due_to_member }}</td>
					</tr>
				{% endfor %}
					<tr>
						<th colspan="3" style="text-align: right; font-weight: bold; " >{% trans "Total Payment" %}:</th>
						<td style="text-align: right; font-weight: bold; " >${{ payment.amount }}</td>
					</tr>
				{% endif %}
			{% endif %}
		</table>
		</div>
	{% endfor %}

</div>
{% endblock %} 
