{% extends "base.html" %}
{% load i18n %}

{% load humanize %}

{% block title %}
     {% trans "Supply and Demand Table" %}
{% endblock %}

{% block header %}

<style>
table thead
{
	position: fixed;
}

</style>


{% endblock %}

{% block content %}

<div class="plan-update">


	{% include "distribution/tabnav.html" %}

	<h2>{% blocktrans %}Weekly Supply minus Demand from {{ from_date }} to {{ to_date }}{% endblocktrans %}</h2>

	<p><i>You may drill down into any column</i></p>

	<table class="ga-event-table" style="font-size: 90%;" >
		<thead>
		<tr>
			{% for column in sdtable.columns %}
				{% if forloop.first %}
					<th style="text-align: right; width: 13em;" >{{ column }}</th>
				{% else %}
				<th style="width: 3em; " >
					<a href="{% url supply_and_demand_week week_date=column|date:'Y_m_d' %}">{{ column|date:"n-j" }}</a>
				</th>
				{% endif %}
			{% endfor %}
		</tr>
		</thead>
	</table>
	<br />
	<table class="ga-event-table" style="font-size: 90%;"  >
		<tbody>

		{% for row in sdtable.rows %}
			<tr>
				{% for cell in row %}
					{% if forloop.first %}
						<th style="text-align: left; width: 13em;" >{{ cell }}</th>
					{% else %}
						<td style="text-align: right; width: 3em; " >{{ cell|intcomma }}</td>
					{% endif %}
				{% endfor %}			
			</tr>
			{% endfor %}
		</tbody>

	</table>

</div>
<div><p>.</p></div>

 
{% endblock %} 

