{% extends "base.html" %}

{% load humanize %}

{% block title %}
	{{ network.short_name }} Availability
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="availability">


	{% include tabnav %}

	<h2>What's available for delivery on {{ delivery_date|date:"l, F j" }} </br>
		from {{ network.long_name }}</h2>

	<p>If you have customer login credentials, you may 
		<a href="{% url customer_dashboard %}">place an order</a>.
	</p>
	<p>If you want to become a customer, please <a href="mailto:orders@keewaydinorganics.com">send us an email</a></p>

	<table class="ga-event-table" >
		<thead>
		<tr>
			<th style="text-align:left;" >Product</th>
			<th>Growing Method</th>
			<th style="text-align: right:" >Quantity</th>
			<th style="text-align: right;" >Price</th>
		</tr>
		</thead>
		<tbody>

		{% for row in avail_rows %}
			<tr>
				<th style="text-align:left;" >{{ row.product }}</th>
				<td>{{ row.product.growing_method }}</td>
				<td style="text-align: right;" >{{ row.qty|intcomma }}</td>
				<td style="text-align: right;" >{{ row.product.formatted_unit_price }}</td>
		
			</tr>
			{% endfor %}
		</tbody>

	</table>

</div>
<div><p>.</p></div>

 
{% endblock %} 



