{% extends "base.html" %}

{% block title %}
     History Selection
{% endblock %}

{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block content %}

<div class="history">

	{% include "customer/customer_tabnav.html" %}

	<h2 style="padding-top: 0; margin-top: 0; " >History Selection</h2>

		<form action="." method="POST" >
        		<table>
			<tr>
                		<th style="text-align: right; " >From Date:</th>
                		<td>
					{{ date_range_form.from_date }}
				</td>
				{% if date_range_form.from_date.errors %}
					<td style="color: red; " >
						{{date_range_form.from_date.errors }}
					</td>
				{% endif %}
				</tr>
				<tr>
                		<th style="text-align: right; " >To Date:</th>
                		<td>
					{{ date_range_form.to_date }}
				</td>
				{% if date_range_form.to_date.errors %}
					<td style="color: red; " >
						{{date_range_form.to_date.errors }}
					</td>
				{% endif %}
			</tr>


			</table>
			<p>
            			<input type="submit" value="Submit" />
			</p>
		</form>


</div>

{% endblock %}

