{% extends "base.html" %}

{% block title %}
     Product List Selection
{% endblock %}

{% block content %}

<div class="product-lists">

	{% include "customer/customer_tabnav.html" %}


	<h3 style="padding-top: 0; margin-top: 0; " >Product List Selection</h3>

	<form action="{% url create_product_list cust_id=customer.id %}" method="POST">{% csrf_token %}
		<input class="submit-btn" type="submit" value="Create new product list" />
	</form>

	{% if product_lists %}

	<h4>Change existing list:</h4>
	<ul>
		{% for product_list in product_lists %}
			<li>
				<a href="{% url edit_product_list list_id=product_list.id %}">
				{{ product_list.list_name }} - {{ product_list.description }}
				</a>
			</li>
		{% endfor %}

	{% endif %}


</div>

{% endblock %}

