{% extends "base.html" %}
{% load i18n %}

{% block title %}
     Order
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="order">

	{% include "customer/customer_tabnav.html" %}

	{% if shorts %}
	<div style="border: 2px solid grey; width: 50%; padding-left: 1em; margin-bottom: 1em; ">
		<h4>We're sorry, the items below are no longer available in the quantities you ordered.</h4>
		<ul>
			{% for short in shorts %}
			<li>
			{{ short.product }} is short {{ short.qty_short }}. <br />
			Your <span style="color: red;" >order quantity below*</span> 
			has been adjusted from {{ short.quantity }} to {{ short.short_adjusted_qty }}.
			</li>
			{% endfor %}
		</ul>
		<div style="margin-bottom: 1em; " >
			If these changes are ok, please
			<form style="display: inline; " action="{% url resave_short_adjusted_order order_id=order.id %}" method="POST">
				{% csrf_token %}
				<input class="submit-btn" type="submit" name="re-save" id="re-save" value="Re-Save" />
			</form> 
			this order.
			Otherwise, please 
			<form style="display: inline; " action="{% url edit_order order_id=order.id %}" method="GET">
				<input class="submit-btn" type="submit" name="edit" id="edit" value="Change" />
			</form>
			it.
		</div>

	</div>
	{% else %}
		<div style="margin-bottom: 1em; " >
			<form style="display: inline; " action="{% url submit_order order_id=order.id %}" method="POST">
				{% csrf_token %}
				<input class="submit-btn" type="submit" name="submit" id="submit" value="Submit order to {{ food_network }}" />
			</form> 
			<form style="display: inline; " action="{% url edit_order order_id=order.id %}" method="GET">
				<input class="submit-btn" type="submit" name="edit" id="edit" value="Change Order" />
			</form>
		</div>

	{% endif %}


    <table style="margin-bottom: 1em;" >
        <tr>
            <th style="text-align: right; " >Order Number: </th>
            <td>{{order.id}}</td>
        </tr>
        <tr>
            <th style="text-align: right; " >Customer: </th>
            <td>{{order.customer.short_name}} {{order.customer.long_name}}</td>
        </tr>
        <tr>
	    <th style="text-align: right; " >{% trans "Purchase Order" %}: </th>
            <td>{{order.purchase_order}}</td>
        </tr>
         <tr>
             <th style="text-align: right; " >{% trans "Order Date" %}: </th>
             <td>{{order.order_date}}</td>
         </tr>
	<tr>
            <th style="text-align: right; " >{% trans "Delivery Date" %}: </th>
            <td>{{order.delivery_date}}</td>
        </tr>
	<tr>
            <th style="text-align: right; " >Distributor: </th>
            <td>{{order.distributor}}</td>
        </tr>
        <tr>
		<th style="text-align: right; " >State:</th>
            <td>{{order.state}}</td>
        </tr>
    </table>
    <table class="ga-event-table" >
        <tr>
             <th>Product</th>
             <th>Growing Method</th>
             <th>Quantity</th>
             <th>Unit Price</th>
             <th>Extended Price</th>
	     <!--<th>Producer</th>-->
             <th>Notes</th>
        </tr>
        {% for orderitem in order.orderitem_set.all %}
            <tr>
		<td>{{ orderitem.product.long_name }}</td>
		<td>{{ orderitem.product.growing_method }}</td>
		<td style="text-align: right; ">
			
			{% ifnotequal orderitem.quantity orderitem.short_adjusted_qty  %}
			<span style="color: red;" >*
			{% else %}
			<span>
			{% endifnotequal %}
			{{ orderitem.short_adjusted_qty }}
			</span>
		</td>
                <td style="text-align: right; ">{{ orderitem.formatted_unit_price }}</td>
                <td style="text-align: right; ">{{ orderitem.short_adjusted_extended_price }}</td>
		<!--<td>{{ orderitem.producers }}</td>-->
		<td>{{ orderitem.notes }}</td>
            </tr>
        {% endfor %}
    </table>
    <table style="margin-top: 1em; margin-left: 20em; " >
		<tr>
			<th style="text-align: right;" >Total Price:</th>
			<td style="text-align: right;" >${{ order.total_price }}</td>
		</tr>


		{% if order.transportation_fee %}
			<tr>
				<th style="text-align: right;" >Transportation Fee:</th>
				<td style="text-align: right;" >${{ order.display_transportation_fee }}</td>
			</tr>
		{% endif %}
		<tr>
			<th style="text-align: right;" >Co-op Fee:</th>
			<td style="text-align: right;" >${{ order.coop_fee }}</td>
		</tr>

		<tr>
			<th style="text-align: right;" >Grand Total:</th>
			<td style="text-align: right;" >${{ order.grand_total }}</td>
		</tr>
    </table>
    
</div>    
{% endblock %} 



