<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title>PBC Food Distribution</title>
	
		<style type="text/css">	
		body
		{
			font-family: Myriad,Arial,Helvetica,clean,sans-serif; 
			font-size: 90%;
			margin: 2em 8em 2em 8em;
		}
		</style>
</head>
<body>
	
	<h2 style="vertical-align: middle; " >
		Welcome to the <br />
		<img src="/site_media/images/pbc_logo.jpg" 
		alt="Producers and Buyers Co-op" style="vertical-align: middle; "  width="600" height="247" />  <br/>
		<a href='/dashboard/'>Food Distribution System</a> 
	</h2>
	<p>
		This welcome page is an optional feature.  You can use it, or eliminate it.
	</p>
	
</body>
</html>